@model List<AppUser>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<h2>Kullanıcı Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Telefon Numarası</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a href="@Url.Action("Details", new { id = user.Id })" class="btn btn-info">Detaylar</a>
                    <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning">Düzenle</a>
                    <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
