@using Blog.Core.Models;
@model IEnumerable<Post>
 
@{
    ViewData["Title"] = "Ana Sayfa";
  
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                @foreach (var post in Model)
                {
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                @if (post.ImagePath != null)
                                {
                                    <img class="d-block img-fluid" src="@post.ImagePath" alt="Post Image">
                                }
                                else
                                {
                                    <img class="d-block img-fluid" src="default-image-path.jpg" alt="Default Image">
                                }
                            </div>
                            <h3><a href="@Url.Action("Details", "Blog", new { id = post.Id })">@post.Title</a></h3>
                            <p>@post.Summary</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="@Url.Action("Details", "Blog", new { id = post.Id })" class="btn btn-outline-secondary">Continue Reading</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">General</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-heart">@post.Likes</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-comment">@post.Comments</a></li>
                            </ul>
                        </div>
                    </div>
                }


                <ul class="pagination pagination-primary">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="body search">
                        <div class="input-group m-b-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Categories Clouds</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li><a href="javascript:void(0);">eCommerce</a></li>
                            <li><a href="javascript:void(0);">Microsoft Technologies</a></li>
                            <li><a href="javascript:void(0);">Creative UX</a></li>
                            <li><a href="javascript:void(0);">Wordpress</a></li>
                            <li><a href="javascript:void(0);">Angular JS</a></li>
                            <li><a href="javascript:void(0);">Enterprise Mobility</a></li>
                            <li><a href="javascript:void(0);">Website Design</a></li>
                            <li><a href="javascript:void(0);">HTML5</a></li>
                            <li><a href="javascript:void(0);">Infographics</a></li>
                            <li><a href="javascript:void(0);">Wordpress Development</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                 
                </div>
                <div class="card">
               
                </div>
            </div>
        </div>
    </div>
</div>




@section Css {
    <link rel="stylesheet" href="~/css/postIndexHomePage.css" asp-append-version="true" />
}

@section Scripts {
    <script>

    </script>
}