@model Blog.Core.Models.Post

<h1>@Model.Title</h1>
<img src="@Model.ImagePath" alt="Post Image" /><p>@Model.DatePublished</p>
<p>Kategori: @Model.Category?.Name</p>
<p>Kategori Açıklaması: @Model.Category?.Description</p>
<p>@Model.Content</p>


<p>@Model.Likes</p>

